@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Semibold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-SemiboldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Extrabold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url(../../assets/fonts/muli/Muli-Black.ttf) format("truetype");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
