@mixin dash-subject($color, $url, $position) {
  border-radius: 16.575px;
  padding: 20px;
  min-width: 182px;
  height: 102px;
  background-color: $color;
  background-image: url($url);
  background-position: $position;
  background-repeat: no-repeat;

  & .Dashboard__subject__text {
    text-transform: uppercase;
    text-align: right;
    margin-top: -3px;
    max-width: 150px;
    font-family: $font-family-mulish;

    &--math {
      margin-top: 6px;
    }
  }
}
