.Chapters {
  min-height: 800px;
  background-color: $background-color;
  background-image: url(../../assets/images/chapter-bg.svg);
  background-repeat: no-repeat;
  background-position: right;

  &__inner {
    max-width: 1400px;
    padding: 20px 30px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__back {
    margin-top: 10px;
  }

  &__content {
    margin-left: 30px;

    & h1 {
      text-transform: capitalize;
    }

    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    &__item {
      margin-left: 20px;
      margin-top: 20px;
      padding: 15px 25px;
      background-color: #fff;
      border-radius: 17px;
      max-width: 100%;

      & a {
        color: $brand-color;
        text-decoration: none;
      }

      &__img {
        text-align: center;
        max-width: 100%;

        & img {
          width: 200px;
        }
      }

      &__text {
        font-weight: bold;
        max-width: 170px;
        margin: auto;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width: $breakpoint-bs-sm) {
  .Chapters {
    &__inner {
      padding: 20px;
    }

    &__back {
      margin-bottom: 40px;
      padding-left: 5px;
    }

    &__content {
      margin-left: 0px;

      &__item {
        &__img {
          & img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
