.Dashboard {
  min-height: 800px;
  background-color: $background-color;
  background-image: url(../../assets/images/hand-bg.svg),
    url(../../assets/images/circle-bg.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;

  &__content {
    margin: auto;
    padding: 18px;
    max-width: 1150px;

    & h1:first-of-type {
      margin: 30px 0;
    }
  }

  &__subjects {
    display: flex;
    flex-wrap: wrap;

    & a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__subject {
    &__math {
      @include dash-subject(
        $brand-color-red,
        "../../assets/images/math-bg.svg",
        top right
      );
    }

    &__phy {
      @include dash-subject(
        $brand-color-purple,
        "../../assets/images/phy-bg.svg",
        bottom left
      );
    }

    &__chem {
      @include dash-subject(
        $brand-color-orange,
        "../../assets/images/chem-bg.svg",
        right bottom
      );
    }

    &__bio {
      @include dash-subject(
        $brand-color-green,
        "../../assets/images/bio-bg.svg",
        right
      );
    }

    &__eng {
      @include dash-subject(
        $brand-color-blue,
        "../../assets/images/eng-bg.svg",
        bottom left
      );
    }
  }

  &__recent {
    &__header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1000px;
      margin-top: 30px;

      & button {
        padding: 6px;
        min-width: 12%;
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
    }

    & a {
      text-decoration: none;
    }

    &__item {
      margin: 30px 20px;
      cursor: pointer;

      &__img {
        max-width: 210px;

        & img {
          max-width: 100%;
          max-height: 100%;
          width: 210px;
          height: 179px;
        }
      }

      &__subject {
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 16px;

        &--math {
          color: $brand-color-red;
        }

        &--phy {
          color: $brand-color-purple;
        }

        &--chem {
          color: $brand-color-orange;
        }

        &--bio {
          color: $brand-color-green;
        }

        &--eng {
          color: $brand-color-blue;
        }
      }

      &__title {
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 210px;
        font-size: 18px;
        color: $brand-color;
      }
    }
  }
}

@media (max-width: $breakpoint-small-screens) {
  .Dashboard {
    &__subjects {
      flex-wrap: nowrap;
      max-width: 100%;
      overflow: auto;
    }
  }
}
